<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Answer</title>
  <style>
    /* Add your CSS styles here */
    body {
      font-family: cursive;
      background-color: #f2f2f2;
    }

    h1 {
      font-family: fantasy;
      color: blue;
      text-align: center;
    }

    h2 {
      font-family: monospace;
      color: green;
      text-align: center;
    }

    ul li a {
      font-family: sans-serif;
      color: red;
    }
  </style>
</head>
<body>
<h1>Some Introduction to StackOverFlow</h1>
<h2>Click the links below:</h2>
<ul>
  <li><a href="/question">Go to Questions</a></li>
  <li><a href="/tags">Go to Tags</a></li>
  <li><a href="/user">Go to Users</a></li>
  <li><a href="/bonus">Go to bonus</a></li>
</ul>
</body>
</html>
