<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Answer Page</title>
  <!-- 引入需要的图表库 -->
  <script src="https://cdn.jsdelivr.net/npm/apexcharts@3.27.3/dist/apexcharts.min.js"></script>
  <style>
    .chart-container {
      width: 600px;
      height: 700px;
      margin: auto;
    }

    h1, h2 {
      text-align: center;
    }

    #userDistributionChart {
      margin: auto;
    }
  </style>

</head>
<body>
<h1>Some Introduction to StackOverFlow——User</h1>

<h2>What is the distribution of users' posts?</h2>
<div id="userDistributionChart" class="chart-container"></div>

<h2>Top 10 users with most posts"</h2>
<div id="TopUsersChart" class="chart-container"></div>

<h2>Top 10 users with most answers"</h2>
<div id="TopUsersWithMostAnswersChart" class="chart-container"></div>

<h2>Top 10 users with most comments"</h2>
<div id="TopUsersWithMostCommentsChart" class="chart-container"></div>


<script th:inline="javascript">
  // 获取后端传递过来的数据
  var userDistribution = /*[[${userDistribution}]]*/ {};

  // 提取时间范围和数量的数据
  var timeRanges = Object.keys(userDistribution);
  var timeRangeCounts = Object.values(userDistribution);

  // 对时间范围进行排序
  var sortedTimeRanges = timeRanges.sort();

  // 根据排序后的时间范围重新排列数量
  var sortedTimeRangeCounts = sortedTimeRanges.map(function (range) {
    return userDistribution[range];
  });

  // 创建饼状图展示问题解决时间的分布
  var userDistributionChart = new ApexCharts(
      document.querySelector("#userDistributionChart"), {
        series: sortedTimeRangeCounts,
        labels: sortedTimeRanges,
        chart: {
          type: "donut",
          height: 300,
        },
        plotOptions: {
          pie: {
            donut: {
              size: "80%",
            },
          },
        },
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 200,
            },
            legend: {
              position: "bottom",
            },
          },
        }],
      });

  userDistributionChart.render();

  var TopUsers = /*[[${TopUsers}]]*/ [];

  var tagCombination2 = TopUsers.map(function(item) {
    return item[0];
  });
  var voteCount2 = TopUsers.map(function(item) {
    return item[1];
  });

  var TopUsersChart = new ApexCharts(document.querySelector("#TopUsersChart"),
      {
        series: [{
          name: 'Post times',
          data: voteCount2
        }],
        chart: {
          type: 'bar',
          height: 300
        },
        xaxis: {
          categories: tagCombination2
        },
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 200
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
      });
  TopUsersChart.render();

  //TopUsersWithMostAnswers
  var TopUsersWithMostAnswers = /*[[${TopUsersWithMostAnswers}]]*/ [];

  var tagCombination3 = TopUsersWithMostAnswers.map(function(item) {
    return item[0];
  });
  var voteCount3 = TopUsersWithMostAnswers.map(function(item) {
    return item[1];
  });

  var TopUsersWithMostAnswersChart = new ApexCharts(document.querySelector("#TopUsersWithMostAnswersChart"),
      {
        series: [{
          name: 'Answer times',
          data: voteCount3
        }],
        chart: {
          type: 'bar',
          height: 300
        },
        xaxis: {
          categories: tagCombination3
        },
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 200
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
      });
  TopUsersWithMostAnswersChart.render();

  //TopUsersWithMostComments
  var TopUsersWithMostComments = /*[[${TopUsersWithMostComments}]]*/ [];

  var tagCombination4 = TopUsersWithMostComments.map(function(item) {
    return item[0];
  });
  var voteCount4 = TopUsersWithMostComments.map(function(item) {
    return item[1];
  });

  var TopUsersWithMostCommentsChart = new ApexCharts(document.querySelector("#TopUsersWithMostCommentsChart"),
      {
        series: [{
          name: 'Comment times',
          data: voteCount4
        }],
        chart: {
          type: 'bar',
          height: 300
        },
        xaxis: {
          categories: tagCombination4
        },
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 200
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
      });
  TopUsersWithMostCommentsChart.render();

</script>
</body>

</html>
